﻿.city-link{
    color:rgb(122, 185, 72);
    text-decoration:underline;
}

.input-header{
    font-size:20px;
    font-weight:500;
}

.recent-cities{
    margin-top:10px;
}

.weather-result{
    margin-top:15px;
}

.weather-result .header{
    font-size:20px;
    font-weight:600;
    font-family:Verdana;
    margin-bottom: 5px; 
}

.weather-item{
    border: 1px solid black;
    text-align:center;
    margin:0px 5px;
}

.weather-item .description {
    color:rgb(122, 185, 72);
    font-weight:600;
}


.has-error{
    color:red;
    font-size:16px;
}

.weather-error{
    margin-top:10px;
}