﻿@model WeatherSpot.Web.Models.ForecastViewModel
@{ 
    WeatherSpot.Web.Models.RecentCities recentCities = (WeatherSpot.Web.Models.RecentCities)ViewBag.recentCities;
}

<div class="row recent-cities">
    @{Html.RenderPartial("RecentCitiesPartial", recentCities);}    
</div>
<div class="row weather-result">
    <div class="col-md-12 header">
        <strong>Forecast for @Model.City</strong>
    </div>
    @foreach (var item in Model.ForecastItems)
    {
        <div class="col-md-3 weather-item">
            <p>
                @item.Date.ToString("d MMM yyyy")
            </p>
            <p class="description">
                @item.Description
            </p>
            <p>
                Temp: @item.MaxTemperature/@item.MinTemperature
            </p>
            <p>
                Wind speed: @item.WindSpeed
            </p>
            <p>
                Wind angle: @item.WindAngle
            </p>
        </div>
    }
</div>