﻿@using OpenWeatherMap.DataObjects
@model ErrorMessage
<div class="row">
    <div class="col-md-12 has-error">
        @if (!string.IsNullOrEmpty(Model.Cod))
        {
            <span>@Model.Cod:</span>
        }
        @Model.Message
    </div>
</div>
