﻿@model WeatherSpot.Web.Models.RecentCities
@{
    ViewBag.Title = "Forecast page";
}
@section styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <span class="input-header">Enter your city</span>
    </div>
    <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control query-city" />
    </div>
    <div class="col-md-2 col-sm-12">
        <button class="btn btn-default weather-view">View</button>
    </div>
</div>

<div class="weather">
    <div class="row recent-cities">
        @{Html.RenderPartial("RecentCitiesPartial");}        
    </div>    
</div>
<div class="weather-error"></div>

@section scripts{
    <script>
        $(function () {
            $('body').on('click', '.weather-view, .city-link', function () {
                var query = $('.query-city').val();
                if (this.classList.contains('city-link')) {
                    query = this.textContent;
                }
                if (!query) {
                    return;
                }
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("GetForecast", "Home")',
                    data: { 'query':  query }
                })
                .done(function (data) {
                    if ($(data).filter('.weather-result').length > 0) {
                        $('.weather-error').html('');
                        $('.weather').html(data);
                    } else {
                        $('.weather-result').html('');
                        $('.weather-error').html(data);
                    }                    
                });
            });
        });
    </script>
}
