﻿@if (Model != null && Model.Cities.Count > 0)
{
    <div class="col-md-12">
        Your recent cities:
        @foreach (string city in Model.Cities)
        {
            <a href="javascript:;" class="city-link">@city</a>
        }
    </div>
}
